.landing__page{
    padding: 0rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(12, 12, 12, 0.9);
}

.logo{
    padding: 1rem 1rem 0rem 3rem;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgba(12, 12, 12, 0.9);
}

.titre{
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

.btn{
    padding: 1rem 3rem;
    border: solid 0px;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #D87B00;
}