.container{
    padding: 1rem 3rem;
    font-family: var(--ff-sans);
    background-color: var(--color-bg);
}

.movie__dispo{
    font-size: 1.5rem;
    font-family: var(--ff-sans);
    color: var(--color-fg);
    background-color: var(--color-bg);
}

.movie__list{
    display: flex;
    gap: 1.5rem;
}

.titre__film{
    padding: 2rem;
    color: var(--color-fg);   
}