<section class="container">
    <header class="movie__dispo"></header>
    <div class="movie__list">
        <div class="boite">
            <figure>
                <img src="/server/images/bon_brute_truand.jpg" alt="bon_truand">
            </figure>
            <span class="titre__film">Le Bon, la Brute et le Truand</span>
        </div>
        <div class="boite">
            <figure>
                <img src="/server/images/interstellar.jpg" alt="interstellar">
            </figure>
            <span class="titre__film">Interstellar</span>
        </div>
        <div class="boite">
            <figure>
                <img src="/server/images/schindler.webp" alt="schindler">
            </figure>
            <span class="titre__film">La Liste de Schindler</span>
        </div>
        <div class="boite">
            <figure>
                <img src="/server/images/your_name.jpg" alt="name">
            </figure>
            <span class="titre__film">Your name</span>
        </div>
    </div>
</section>